<!-- views/partials/head.ejs -->

<meta charset="utf-8">
<link rel="stylesheet" href="/stylesheets/master.css">
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
<title>DC MORNITORING DEMO A</title>
